In [1]:
import pandas as pd
movies = pd.read_csv("./movie_data_raw.csv")

In [2]:
movies.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [3]:
movies.drop_duplicates(inplace=True)

In [4]:
movies.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [5]:
# 5. Clean 'Runtime (Minutes)' column (if needed)
movies['Runtime (Minutes)'] = pd.to_numeric(
    movies['Runtime (Minutes)'], errors='coerce'
)
movies['Runtime (Minutes)'].fillna(
    movies['Runtime (Minutes)'].median(), inplace=True
)

C:\Users\Ansh\AppData\Local\Temp\ipykernel_5308\2726235211.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['Runtime (Minutes)'].fillna(

In [6]:
movies['Revenue (Millions)'] = movies['Revenue (Millions)'].replace(
    r'[\$,M]', '', regex=True
)

In [7]:
# 7. Clean 'Metascore'
movies['Metascore'] = pd.to_numeric(movies['Metascore'], errors='coerce')
movies['Metascore'].fillna(movies['Metascore'].median(), inplace=True)

C:\Users\Ansh\AppData\Local\Temp\ipykernel_5308\1737638734.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['Metascore'].fillna(movies['Metascore'].median(), inplace=True)

In [8]:
# 8. Fill Remaining NaNs

movies['Genre'].fillna(movies['Genre'].mode()[0], inplace=True)
movies['Description'].fillna(movies['Description'].mode()[0], inplace=True)

C:\Users\Ansh\AppData\Local\Temp\ipykernel_5308\3994492440.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['Genre'].fillna(movies['Genre'].mode()[0], inplace=True)
C:\Users\Ansh\AppData\Local\Temp\ipykernel_5308\3994492440.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['Description'].fillna(movies['Description'].mode()[0], inplace=True)

In [9]:
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [10]:
movies.drop(columns=['Description'], inplace=True)

In [ ]:
movies.to_csv("movie_data_cleaned", index=False)