In [1]:
# Setup cell
import pandas as pd
movies = pd.read_csv("./movie_data_raw.csv")

In [2]:
# View dataset
movies.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [3]:
# Drop duplicates
movies.drop_duplicates(inplace=True)

In [4]:
# Convert 'Runtime (Minutes)' to numeric and fill NaNs with median
movies['Runtime (Minutes)'] = pd.to_numeric(movies['Runtime (Minutes)'], errors='coerce')
movies['Runtime (Minutes)'] = movies['Runtime (Minutes)'].fillna(movies['Runtime (Minutes)'].median())

In [5]:
# Remove '$' and 'M' from 'Revenue (Millions)'
movies['Revenue (Millions)'] = movies['Revenue (Millions)'].replace(
    r'[\$,M]', '', regex=True
)

In [11]:
# Convert 'Metascore' to numeric and fill NaNs with median
movies['Metascore'] = pd.to_numeric(movies['Metascore'], errors='coerce')
movies['Metascore'] = movies['Metascore'].fillna(movies['Metascore'].median())

In [7]:
# Fill Remaining NaNs

movies['Genre'] = movies['Genre'].fillna(movies['Genre'].mode()[0])

In [8]:
# Drop Irrelevant columns
movies.drop(columns=['Description'], inplace=True)

In [9]:
# Final checks
movies.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [10]:
# Commit changes to file
movies.to_csv("movie_data_cleaned", index=False)